@font-face {
  font-family: "Resist Font", sans-serif;
  src: url("../fonts/ResistSansDisplayMediumOblique.otf");
  font-weight: medium;
}

@font-face {
  font-family: "Resist Font", sans-serif;
  src: url("../fonts/ResistSansTextLight.otf");
  font-weight: light;
}