@mixin gradientColor($gradientValue) {
  background: $gradientValue;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin opacityBlack($property, $opacity) {
  #{$property}: rgba(23,24,26, $opacity);
}