@supports (backdrop-filter: blur(10px)) {
  .profile {
    &__content-header {
      background: $opacityBlack;
      backdrop-filter: blur(10px);
    }
  }

  .videoplayer {
    &__wrapper {
      backdrop-filter: blur(10px);
    }
  }
}