@import "./_global";

.auth {
  &__inner {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__block {
    width: 340px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 300;
    text-align: center;
  }

  &__form {
    margin: 15px 0;
  }

  &__callout {
    &-desc {
      text-align: center;
    }

    &-link {
      color: $blue;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__area-file {
    cursor: pointer;
    background: $black;
    border-radius: 10px;
    padding: 10px;

    &--error {
      border: 1px solid $red;
    }
  }

  &__file {
    display: none;

    &-img {
      object-fit: cover;

      &--avatar {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: 1px solid $grey;
      }
    }

    &-video {
      width: 100%;
      object-fit: cover;
    }

    &-view {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &-icon {
        fill: $white;
        width: 100px;
      }
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-title {
      cursor: text;
      user-select: none;
      position: absolute;
      z-index: 1;
      transform: translate(10px, calc($inputHeight / 3.8));
      left: 0;
      top: 0;
      color: $grey;
      transition: transform, font-size, .2s;
      background: $dark;
      padding: 0 5px;
      display: inline-block;

      &--up {
        transform: translate(8px, -6px);
        font-size: 12px;
      }
    }
  }

  &__label {
    position: relative;
    display: block;
  }

  &__input {
    width: 100%;
    height: $inputHeight;
    border: 1px solid $grey;
    padding: 12px;
    border-radius: 8px;
    background: $dark;
    color: $grey;
    transition: border-color, color, .2s;

    &--invalid {
      border-color: $red;

      & + span {
        color: $red;
      }
    }

    &:focus {
      color: $white;
    }

    &:focus + span {
      @extend .form__field-title--up;
    }
  }

  &__submit {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: $black;
    color: $white;
    border: none;
  }
}

.pending-btn {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 25%;
    height: 100%;
    background: $grey;
    position: absolute;
    opacity: .3;
    z-index: 99;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    animation: loader 1s infinite;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: $black;
  width: 100%;
  height: 100px;

  &__block {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    width: 30%;

    &-list {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: max-content;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-link {
      color: $grey;

      &:hover {
        @extend .header__menu-link--active;
      }

      &--active {
        background: linear-gradient(45deg, $blue, $red);
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 50%;

    &-icon {
      width: 20px;
      fill: $white;
    }

    &-btn {
      height: 40px;
      border: none;
      background: $dark;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      padding: 10px;
    }

    &-input {
      width: 100%;
      height: 40px;
      border: none;
      background: $dark;
      padding: 10px;
      border-radius: 10px 0 0 10px;
      color: $white;
    }
  }

  &__user {
    width: 20%;
    display: flex;
    justify-content: flex-end;

    &-avatar {
      &-image {
        max-width: 45px;
        min-width: 40px;
        max-height: 45px;
        min-height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.video-card {
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    flex-direction: column;
    color: $white;
  }

  &__picture {
    position: relative;
    height: 150px;
  }

  &__poster {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: $opacityBlack;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px 0 5px 0;
    font-family: "Roboto Mono";
  }

  &__info {
    &-header {
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__views {
    display: flex;
    align-items: center;
    color: $grey;
    font-size: 12px;
    padding-right: 8px;
    font-family: "Roboto Mono";
    
    &-icon {
      margin-right: 4px;
      fill: $red;
      width: 18px;
    }
  }

  &__date {
    font-size: 12px;
    color: $grey;
    font-family: "Roboto Mono";
  }

  &__title {
    font-family: "Golos UI";
    font-weight: 400;
    font-size: 16px;
  }

  &__footer {
    padding-top: 8px;
  }

  &__link {
    color: $blue;
    font-size: 12px;
  }
}

.load-page {
  &__block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 500px;
  }
}

.pt-120 {
  padding-top: 120px;
}

.pb-20 {
  padding-bottom: 20px;
}

@keyframes loader {
  100% {
    transform: translateX(400%);
  }
}