@import "./_global";

.auth {
  &__inner {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__block {
    width: 340px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 300;
    text-align: center;
  }

  &__form {
    margin: 15px 0;
  }

  &__callout {
    &-desc {
      text-align: center;
    }

    &-link {
      color: $blue;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__area-file {
    cursor: pointer;

    &--error {
      border: 1px solid $red;
    }
  }

  &__file {
    display: none;

    &-res {
      width: 128px;
      height: 128px;
      border-radius: 50%;
    }

    &-view {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &-icon {
        fill: $white;
        width: 128px;
      }
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-title {
      cursor: text;
      user-select: none;
      position: absolute;
      z-index: 1;
      transform: translate(10px, calc($inputHeight / 3.8));
      left: 0;
      top: 0;
      color: $grey;
      transition: transform, font-size, .2s;
      background: $dark;
      padding: 0 5px;
      display: inline-block;

      &--up {
        transform: translate(8px, -6px);
        font-size: 12px;
      }
    }
  }

  &__label {
    position: relative;
    display: block;
  }

  &__input {
    width: 100%;
    height: $inputHeight;
    border: 1px solid $grey;
    padding: 12px;
    border-radius: 8px;
    background: $dark;
    color: $grey;
    transition: border-color, color, .2s;

    &--invalid {
      border-color: $red;

      & + span {
        color: $red;
      }
    }

    &:focus {
      color: $white;
    }

    &:focus + span {
      @extend .form__field-title--up;
    }
  }

  &__submit {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: $black;
    color: $white;
    border: none;
  }
}

.pending-btn {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 25%;
    height: 100%;
    background: $grey;
    position: absolute;
    opacity: .3;
    z-index: 99;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    animation: loader 1s infinite;
  }
}

@keyframes loader {
  100% {
    transform: translateX(400%);
  }
}